page-login {
  .login-content {
    background: #848484;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: #E6E6E6;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
    .rememberMe{
       background: #E6E6E6;
    }
    .box {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 1em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
        border-bottom-color: silver !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
     .createAccount {

        color: #15A6DC;
         display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

     }
     .submit-btn {
       background: #625757;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
       color : #fff;
     }

  }
 
}