page-groupe-id {
    .close_depeche {
        size: 30px;
    }
    .title{
        margin-top: 5px;
    }
    .temps_lecture{
        float:right;
   
    }

	.btn {
		color: white;
		background-color: red
	}
    .delete {
        font-size: 30px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;

    }
}
