page-ajouterami {
    .delete  button {
      width:100%;
      color:black !important;
      font-family:'stratos-light','arial','helvetica','sans-serif';

    }
  	.delete  button:hover{
  		background-color: #FADEA6 !important;

    }
}